@import '../01-tools/mixins';

$reviews-list-border-color: $msv-text-color;
$reviews-list-text-color: $msv-text-color;
$reviews-list-link-color: $msv-link-color;
$msv-review-repsponse-border-color: #C8C6C4;
$msv-reviews-list-date-color: $msv-gray-120;
$msv-reviews-card-border-width: 1px;

$msv-reviews-list-reviews-width: 100%;

$msv-reviews-list-refiners-margin-bottom: 10px;
$msv-reviews-list-card-header-max-width: 120px;
$msv-reviews-list-card-header-margin-right: 70px;

$msv-rating-padding-top: 15px;
$msv-msc-l-dropdown-label-margin-right: 5px;
$msv-msc-l-dropdown-label-margin-left: 20px;
$msv-msc-l-dropdown-padding: 6px 5px;

$msv-reviewslist-like-button-margin-right: 12px;
$msv-reviewslist-like-icon-margin-right: 4px;

$msv-reviews-list-dislike-button-padding-right: 22px;
$msv-reviews-list-dislike-button-padding-right: 4px;

$msv-reviews-list-card-padding: 16px 0;

$msv-reviews-response-margin: 12px 0 0 70px;
$msv-reviews-response-width: calc(100% - 70px);
$msv-reviews-response-width-m: 500px;
$msv-reviews-response-icon-width: 4px;
$msv-reviews-response-icon-left: -20px;
$msv-reviews-response-text-margin-top: 4px;

$msv-reviews-list-pagination-icon-spacing: 3px;

.ms-reviews-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__refiners {
        margin-bottom: $msv-reviews-list-refiners-margin-bottom;

        .msc-l-dropdown__label {
            display: inline-block;
            font-weight: bold;
            margin-right: $msv-msc-l-dropdown-label-margin-right;
            vertical-align: middle;
            margin-left: $msv-msc-l-dropdown-label-margin-left;
        }

        .msc-l-dropdown{
            padding: $msv-msc-l-dropdown-padding;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__reviews {
        flex-basis: $msv-reviews-list-reviews-width;
    }

    &__like,
    &__dislike,
    &__report,
    &__edit {
        @include button-link($reviews-list-link-color);
        @include vfi();
        vertical-align: middle;
    }

    &__submit,
    &__success {
        @include primary-button();
    }

    &__cancel {
        @include secondary-button();
    }

    &__like {
        @include add-icon($msv-Like, before, $msv-outline-icon-weight);
        margin-right: $msv-reviewslist-like-button-margin-right;

        &:before {
            margin-right: $msv-reviewslist-like-icon-margin-right;
        }
    }

    &__dislike {
        @include add-icon($msv-Dislike, before, $msv-outline-icon-weight);
        padding-right: $msv-reviews-list-dislike-button-padding-right;
        border-right: $msv-reviews-card-border-width solid $msv-review-repsponse-border-color;

        &:before {
            margin-right: $msv-reviews-list-dislike-button-padding-right;
        }
    }

    &__date {
        color: $msv-reviews-list-date-color;
    }

    &__card {
        border-top: $msv-reviews-card-border-width solid $reviews-list-border-color;
        padding: $msv-reviews-list-card-padding;

        &-header {
            margin-right: $msv-reviews-list-card-header-margin-right;
            flex-shrink: 0;
            max-width: $msv-reviews-list-card-header-max-width;
        }

        &-body {
            flex-grow: 1;
        }

        &:last-child {
            border-bottom: $msv-reviews-card-border-width solid $reviews-list-border-color;
        }

        @media (min-width: $msv-breakpoint-m) {
            display: flex;

            &-controls {
                text-align: right;
            }
        }
    }

    &__helpful {
        display: inline-block;
        vertical-align: middle;
    }

    &__review {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__text {
        flex-basis: 100%;
        &:after {
            content: '';
        }
    }

    &__response {
        margin: $msv-reviews-response-margin;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: $msv-reviews-response-width;

        &:before {
            content: '';
            width: $msv-reviews-response-icon-width;
            height: 100%;
            position: absolute;
            left: $msv-reviews-response-icon-left;
            background-color: $msv-review-repsponse-border-color;
        }

        &-text {
            flex-basis: 100%;
            margin-top: $msv-reviews-response-text-margin-top;
        }

        &-date {
            color: $msv-reviews-list-date-color;
        }

        @media (min-width: $msv-breakpoint-m) {
            width: $msv-reviews-response-width-m;
        }
    }

    &__page-controls {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__next,
    &__previous {
        @include vfi();
        background-color: transparent;
        border: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__previous:before {
        @include msv-icon();
        content: $msv-ChevronLeft;
        margin-right: $msv-reviews-list-pagination-icon-spacing;
    }

    &__next:after {
        @include msv-icon();
        content: $msv-ChevronRight;
        margin-left: $msv-reviews-list-pagination-icon-spacing;
    }
}

.msc-radio-label {
    @include vfi();
}